.lightButton {
	width: 48vw;
	height: 36vh;
	border-radius: 15px;
	background: white;
	color: red;
	font-size: 200%;
	position: absolute;
}

#updatePrinters {
	width: 98vw;
	height: 24vh;
	background: white;
	color: red;
	font-size: 200%;
	position: absolute;
}

.alertBox {
	width: 60vw;
    height: 8vh;
    background-color: #2e9a0b;
    border: 4px #00ff37 solid;
    color: white;
    z-index: 999;
    line-height: 8vh;
    text-align: center;
    font-size: 5vh;
    margin-left: 18.5vw;
    visibility: hidden;
    margin-top: 9vh;
    position: fixed;
    top: 0;
}

.printerItem {
	width: 45vw;
	border-radius: 15px;
    float: left;
	margin-left: 1vw;
	margin-bottom: 1vw;
	height: 11vh;
	background: white;
	color: red;
	font-size: 4vh;
    text-align: center;
    vertical-align: middle;
    line-height: 11vh;
    border: 1px black solid;
}

#mainScreen {
	display: block;
}

#printerSelect {
	display: none;	
    overflow-x: hidden;
}

.printerSelectBack {
	width: 93vw;	
	margin-left: 1vw;
	margin-bottom: 1vw;
	height: 11vh;
	background: red;
	color: white;
	font-size: 4vh;
    text-align: center;
    vertical-align: middle;
    line-height: 11vh;
    border: 1px black solid;
}

#printerOptionWorkingStatus{
	font-size: 5vh;
    text-align: center;
    vertical-align: middle;
    line-height: 11vh;
}

#printerOptionName {
	font-size: 5vh;
    text-align: center;
}

.workingButton{
    border-radius: 20px;
    margin-bottom: 2vh;
    height: 15vh;
    vertical-align: middle;
    line-height: 15vh;
    color: white;
}

#printerList: {	
    overflow-x: hidden;    
}

#printerList:after {
    content: "";
    display: table;
    clear: both;
}

#printerOptions {
	display: none;
}